@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  font-family: "Inter var", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background: #d4ebd1;
}

/* .text-gradient {
  background: linear-gradient(30deg, #dce9ec, #353535);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.color-btn:after {
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  content: "";
  display: block;
  position: absolute;
  height: 55px;
  width: 55px;
  cursor: pointer;
  border: #fff 4px solid;
}

.color-btn.active:before {
  transform: scale(1.1);
  background: #478cdf;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  content: "";
  display: block;
  position: absolute;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
